<div class="container">
    <form [formGroup]="bookingModel" (submit)="booking()">
        <div class="card mx-auto my-auto">
            <div class="card-title">
                <h2 class="text-center mt-3">Book Ticket</h2>
            </div>
            <div class="card-body">
                 <div class="form-group">
                    <label >Select Movie</label>
                    <select formControlName="name" class="form-control" (change)="filterMovieTime($event)">
                      <option>Select Movie...</option>
                      <option *ngFor="let movie of movies">{{movie.name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label >Select Timing</label>
                    <select  formControlName="time" class="form-control" >
                      <option>Select Time...</option>
                      <option *ngFor="let time of movieTime">{{time}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label >Select Number of Person</label>
                    <select  formControlName="person" class="form-control"  >
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                  <div class="booking-btn">
                    <button type="submit" class="btn btn-primary">Booking</button>
                  </div>
            </div>
        </div>
    </form>
</div>
<app-footer>

